{{> admin/admin-header }}

  {{> admin/admin-topNav csrfToken=csrfToken name=name}}

{{#if errors}}
    {{#each errors}}
        <div style="z-index: 1033;" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{this.msg}}</strong>
        </div>
    {{/each}}
{{/if}}

<div class="container">

   <h2>Create new post</h2>

   <div class="row p-4">
      <div class="col-md-10">
         <form action="/admin/books-create" method="post" enctype="multipart/form-data">

            <div class="form-group">
               <label for="title">Title</label>
               <input type="text" class="form-control" name="title" id="title" >
            </div>

            <div class="form-group">
               <label for="file">Title</label>
               <input type="file" name="image" class="form-control" id="file">
            </div>

            <div class="form-group">
               <label for="status">status</label>
               <select name="status" id="status" class="form-control">
                  <option value="public">Public</option>
                  <option value="private">Private</option>
               </select>
            </div>

            <div class="form-check ml-3">
               <label for="allowComments">Allow Comments</label>
               <input type="checkbox" class="form-control" id="allowComments" name="allowComments">
            </div>

            <div class="form-group">
               <label for="category">Category</label>
               <select name="category" id="category" class="form-control">
                  {{#each categories}}
                         <option value={{this.id}}>{{this.title}}</option>
                  {{/each}}    
               </select>
            </div>

            <div class="form-group">
               <label for="description">Content</label>
               <textarea name="description" id="description" class="form-control" placeholder="" rows="10"></textarea>

               <button class="btn btn-outline-success btn-lg" type="submit">Create Book</button>
            </div>
         </form>
      </div>
   </div>

   {{> admin/admin-footer}}  
</div>