
{{> admin/admin-header }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

      {{> admin/admin-topNav csrfToken=csrfToken name=name}}

    <div class="content-wrapper">
    
        {{> admin/messages}}
        
        <div class="container text-center" style="margin-top: 50px;"> 
            <h1>Welcome to your Library</h1>
        </div>
        
       <div class="container-fluid">
         <form method="post">
                    <a class="nav-link" href="/user/logout" data-target="#exampleModal"> 
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                    </form>
    {{> admin/admin-footer}}    
    </div>
</body>

</html>

