
{{> admin/admin-header }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

      {{> admin/admin-topNav name}}

    <div class="content-wrapper">
    
        {{> admin/messages}}
        
        <div class="container text-center" style="margin-top: 50px;"> 
            <h1>Welcome to your Library</h1>
        </div>
        
       <div class="container-fluid">
        
    {{> admin/admin-footer}}    
    </div>
</body>

</html>

