body{
   background-color: aqua;
}

.book-preview{
   height: 400px;
   width: 300px;
   margin-right: 30px;
}

.card-title{
   font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
}

.card-text{
   height: 150px;
   overflow: hidden;
}

.card_imgContainer{
   height: 250px;
   width: 200px;
   margin: auto;
   margin-top: 20px;
   background-color: #ebf0f5;
   display: flex;
}

.card_imgContainer img{
   object-fit: contain;
}

.bg-dark {
   background-color: darkblue !important;
}

.side-dark{
   background: #063e6f !important;
}   

.navbar-dark .navbar-nav .nav-link {
   color: aqua;
}

.navbar-brand {
   font-size: 1.55rem;
}

.navbar-nav{
   font-size: 1.2rem;
}

.card{
   border: 1px solid darkslateblue;
}

.card.card-register {
   width: 500px;
   height: auto;
}

.card-header {
   text-align: center;
   background-color: transparent;
   font-size: 1.3rem;
   border-bottom: 1px solid darkslateblue;
}

.btn.btn-primary{
   width: 100%;
}

.form-control{
   border: 1px solid darkslateblue;
}

.register-footer{
   display: flex;
   align-items: center;
   justify-content: center;
}

.table .cover-miniature{
   padding: 7px;
   font-size: 0.7rem;
}

table .cover-miniature img{
   height: 60px;
    width: 50px;
    object-fit: contain;
}

.header-mainPage{
   display: flex;
   color: darkblue;
   justify-content: space-between;
   margin-bottom: 30px;
}

.category-card{
   min-width: 300px;
   margin-top: 1.59rem;

}

.books-list{
   display: flex;
   flex-wrap: wrap;
}

.card-changeData{
   width: 500px;
}

.card-personInfo{
  /* max-height: 690px; */
   width: 500px;
}

.section-header{
   border: 2px solid aqua;
   color: aqua;
   background: transparent;
}

.column-left,
.column-right{
   min-width: 300px;
   width: 40%;
   font-size: 1.2rem;
}

footer{
   position: fixed;
    width: 100%;
    bottom: 0;
}

.container-wrapper {
   margin: 0 50px;
   max-width: 2033px;
}

.actionCell{
   width: 180px;
}

.actionCell a,
.actionCell form{
   display: inline;
}

.container table th,
.container table th {
   vertical-align: middle;
}

.descriptionCell{
   display: block;
   max-height: 200px;
   overflow: hidden;
   max-width: 342px;
}

.table td, 
.table th{
   vertical-align: middle;
}

.bookDetails{
   padding-right: 100px;
}

.bookDetails__Content{
   margin: 40px 0;
}

.bookDetailsContent__ImageWrapper{
   padding: 0 20px;
   background-color: #ebf0f5;
   margin: auto;
   max-width: 800px;
   max-height: 500px;
}

.bookDetailsContent__ImageWrapper img{
   object-fit: contain;
}

.commentsDisabled{
   position: relative;
}

.commentsDisabled__Info{
   position: absolute;
   width: 50%;
   height: 50%;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.headerLeftSide{
   display: flex;
   justify-content: flex-end;
}

.searchHeader{
    font-weight: normal;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}