body{
   background-color: aqua;
}

.card{
   height: 400px;
   width: 300px;
}

.card_imgContainer{
   height: 250px;
   width: 200px;
}

.bg-dark {
   background-color: darkblue !important;
}

.side-dark{
   background: #063e6f !important;
}   

.navbar-dark .navbar-nav .nav-link {
   color: aqua;
}

.navbar-brand {
   font-size: 1.55rem;
}

.navbar-nav{
   font-size: 1.2rem;
}

.card.card-register {
   width: 500px;
   height: auto;
   border: 1px solid darkslateblue;
}

.card-header {
   text-align: center;
   background-color: transparent;
   font-size: 1.3rem;
   border-bottom: 1px solid darkslateblue;
}

.btn.btn-primary{
   width: 100%;
}

.form-control{
   border: 1px solid darkslateblue;
}

.register-footer{
   display: flex;
   align-items: center;
   justify-content: center;
}

